<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GerenciamentoDeAluguelDeCarro.Properties.Settings.LocacaoDeCarroConnectionString"
            connectionString="Data Source=SOUSA-PC;Initial Catalog=LocacaoDeCarro;User ID=sa, Password=joaovictor"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
